.ws-nestable-styled {
    width: 300px;
    margin-left: 70px;
}

.ws-nestable-styled li {
    list-style: none;
    display: block;
    position: relative;
    padding-left: 15px;
}

.ws-manager-item:after,
.ws-drop-zone:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 15px;
    right: 100%;
    border-top: 1px solid #eee;
    transform: translate(0, -2px);
}

.ws-drop-zone:after {
    transform: translate(0, 0);
}

.ws-nestable-styled li:before {
    content: '';
    position: absolute;
    left: 0;
    width: 15px;
    height: 100%;
    border-left: 1px solid #eee;
}

.ws-nestable-styled ol.is-top-level>li.is-first:before {
    top: 23px;
}

.ws-nestable-styled li.is-last:before {
    height: 23px;
}

.ws-nestable-styled ol {
    padding: 0;
    margin: 0;
    margin-left: 15px;
}

.ws-nestable-styled ol.is-top-level {
    margin-left: 0;
}

.ws-manager-item {
    position: relative;
    display: flex;
}

.ws-nestable-styled .is-dragging a {
    opacity: 0.9;
    box-shadow: 0 0 15px #ddd;
    cursor: move !important;
}

.ws-manager-item>* {
    margin: 4px 0;
    padding: 10px;
}

.ws-manager-item a {
    width: 100%;
    display: block;
    font: 13px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}

.ws-manager-item-toggle {
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    right: 100%;
    z-index: 1;
    cursor: pointer;
}

.ws-drop-zone {
    position: relative;
    text-align: center;
    font-size: 12px;
    opacity: 0.9;
    padding: 12px;
    margin: 4px 0;
    border: 1px dotted #ccc;
    border-radius: 5px;
    background: #eee;
}